/* *, *:before, *:after
  box-sizing: border-box */
.body {
  font-family: 'Montserrat', sans-serif;
  background-color: #c5c5c5;
}

.main-conteiner {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 1200px;
  background-color: #ffffff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Sidebar section */
.sidebar-section {
  display: grid;
  grid-row-gap: 5px;
  background-color: #4c6154;
  justify-content: center;
  align-items: center;
}

.sidebar-section-img {
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
}

.contact-section {
  margin: 0 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.contact-section-link {
  color: #000;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.sidebar-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
}

.tech-skills-section, .soft-skills-section {
  margin: 0 20px;
}

.tech-skills-item, .soft-skills-item {
  color: #feffad;
}

.tech-skills-item-text, .soft-skills-item-text {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

/* Main content section */
.main-content-section {
  position: relative;
  margin-top: 0px;
}

.d1 {
  position: absolute;
  margin-top: 0;
  width: 100%;
  height: 20px;
  background-color: #4c6154;
}

.d2 {
  position: absolute;
  margin-top: 20px;
  width: 100%;
  height: 80px;
  background-color: #777777;
}

.d3 {
  position: absolute;
  margin-top: 138px;
  width: 100%;
  height: 50px;
  background-color: #c5c5c5;
}

.about-me-section {
  margin-top: 20px;
  position: relative;
}

.about-me {
  font-style: normal;
  font-weight: bold;
}

.about-me-name {
  position: relative;
  color: #000;
  text-align: center;
  justify-content: center;
  font-size: 35px;
  line-height: 80px;
}

.about-me-prof {
  color: #4c6154;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  line-height: 50px;
}

.about-me-description {
  margin: 10px 40px;
  text-align: justify;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
}
